:root {
  /* --shadow-color: rgb(175, 175, 192); */
  --shadow-color: white;
  --link-color: rgb(10, 51, 199);
  --main-text-color: rgb(54, 40, 81);
  --fonts: tahoma, Helvetica, 
  sans-serif;
}

@keyframes highlight {
  100% {
      background-color: #ACCEF7;
      filter: blur(1rem);
  }
  0% {
      background: white;
      filter: blur(0rem);
  }
}
@keyframes reveal {
  0% {
      background-color: #ACCEF7;
      filter: blur(1rem);
  }
  100% {
      background: white;
      filter: blur(0rem);
  }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    letter-spacing: -.03rem;
    font-family: var(--fonts);
    height: auto;
    background-color: white;
    /* max-width: 1100px; */
  }
  header{
    display: flex;
    justify-content: space-between;
    padding: .5%;
  }
  h1,h2,h3,h4,p{
    color: var(--main-text-color);
  }

  /* uncomment this to turn on blurring */
  /* .grid-container:not(:hover)>*{
    background-color: #ACCEF7;
    filter: blur(1rem);
    animation: highlight .5s;
  }
  .grid-container:hover>*{
    animation: reveal .25s;
  }
   */
  .blurred{
    background-color: #ACCEF7;
    filter: blur(1rem);
  }
  .revealed{
    animation: reveal .25s;
  }

  .grid-container{
    padding: 1rem;
    display: grid;
    gap: 5%;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
  }

  .grid-column{
    background-repeat: repeat;
    display: grid;
    place-items: start center;
    position: relative;
    border: solid rgb(197, 191, 197) .1rem;
  }
  .menu{
    border: solid rgb(255, 255, 255) .5rem;
    display: grid;
    filter: drop-shadow(0 0 0.75rem var(--shadow-color));
    width: 100%;
  }

  .logo>img{
    max-width: 15rem;
    height: auto;
    position: absolute;
    right: 2rem;
}
  header>img{
    max-width: 10rem;
    height: auto;
  }
.menu-button{
  width: max-content;
    display: grid;
    place-items: center;
    position: relative;
}
.menu-button>img{
    max-width: 8rem;
  }
.menu-button>p{
    z-index: 3;
    position: absolute;
    transform: scale(3,5);
    right: 2rem;
    color: white;
}
.arrow{
  position:absolute;
  z-index: 2;
  /* font-size: 10pt; */
  top:15%;
  left: 49%;
}
#feed-wrapper{
  /* background-color: white; */
  /* border-radius: 1rem; */
  width: 100%;
  display: grid;
  place-items: center;
  filter: drop-shadow(0 0 0.75rem var(--shadow-color));
  padding: 1rem;
  gap: 0%;
  margin: 1rem;
  max-width: 600px;
  align-items: center;
}
.form{
  border: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}
.form > *{
  border: none;
  border: solid rgb(197, 191, 197) .1rem;
  max-width: 550px;
  margin: .25rem;
  min-height: 2rem;
}
#post-input{
  font-family: var(--fonts);
  filter: drop-shadow(0 0 0.5rem var(--shadow-color));
  
}
.dropzone{
  min-height:1rem !important;
  padding:none !important;
}
#submit-button{
  background-color: white;
  max-width: 50%;
}
.post{
  position: relative;
    border: solid rgb(197, 191, 197) .1rem;
    border-bottom: 0rem; 
    /* display: grid;
    place-items: center; */
    width: 100%;
    padding: 1rem;
    min-height: 5rem;
    
}
.author{
  display: block;
  width:50%;
  text-align: left;
  color: var(--link-color);
}
.timestamp{
  position: absolute;
  display: inline;
  top: 0.5rem;
  right: 0.5rem;
  color: rgba(22, 109, 195, 0.1);
  font-style: bold;
}

.post-img{
  max-width: 50%;
  border: none;
  min-width: 80px;
}
.fun-zone{
  background-image: url("assets/images/chains.png");
  background-size: 50%;
  background-repeat: round;
  height: 100%;
  margin: 1rem;
  width: 80%;

}
h1,h2,h3,h4,p{
  filter: blur(0rem);
}

@media screen and (max-width: 700px) {
  .grid-container{
    /* if you wanna make it do the rows */
    /* grid-template-columns: 1fr;
    grid-template-rows: .5fr 2.5fr;
     */
    grid-template-columns: .5fr 2.5fr;
  }
  .logo>img{
    max-width: 10rem;
    height: auto;
    position: fixed;
    right: 2rem;
  }
  .menu-button>img{
    max-width: 5rem;
    height: auto;
    transform: skewY(10deg);
  }
}

